body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color:  #7720FE;
    color: #fff;
    padding: 10px;
    text-align: right;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

header {
    display: flex;
}

aside {
    width: 0p15x;
    height: 100%;
    background-color: #7750FE;
    color: #fff;
    padding: 19px;
    box-sizing: border-box;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #7720FE;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

.icon a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer ul li {
    margin: 0 10px;
}

/* style untuk didalam main */
.detail-pesanan {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.img-detail-pesanan img {
    margin-right: 10px; 
}

main {
    max-width: 600px;
    margin: 100px auto;
    margin-left: 200px;
    background-color: #7752FE;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 40px #7752FE;
}

a {
    text-decoration: none;
}

h2 {
    color: #    ;
}

p {
    margin-bottom: 10px;
}

/* Style the link within the paragraph */
p a {
    color: white;
    font-weight: bold;
}

/* Style visited links */
a:visited {
    color: white;
}

/* Style links on hover */
a:hover {
    text-decoration: underline;
}   

.form-edit.rekening {
background-color: white;
color: #333; /* Change to your preferred text color */
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-edit.rekening label {
display: block;
margin: 10px 0 5px;
color: #333;
}

.form-edit.rekening input {
width: 100%;
padding: 10px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
font-size: 16px;
outline: none;
}

.form-edit.rekening button {
background-color: #7752FE;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
outline: none;
}