body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    background: url(../asset/lightpic.png);
background-size: cover;
backdrop-filter: blur(20px);
}

form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #7752FE;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input[type="number"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}

input[type="file"] {
    cursor: pointer;
}

button {
    background-color: #7752FE;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

button:hover {
    background-color: #573dd1; /* Darker shade on hover */
}

.rekening-info {
    display: none;
}